@import "normalize.css/normalize.css";
@import "open-color/open-color.css";

* {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--oc-gray-8);
  color: var(--oc-gray-5);
  margin: 0;
}

body, #root {
  display: flex;
  flex: 1;
}
